.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    backdrop-filter: blur(6px);

}

.popup-inner {
    z-index: 50;
    background: none;
}
.popup-inner form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}
.btn {
    background: rgb(71,153,233);
    background: linear-gradient(278deg, rgba(71,153,233,1) 0%, rgba(101,244,205,1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.2s;
}
.btn:hover {
    background: #222222;
    transition: 0.2s;
    cursor: pointer;
}
.text {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
.popup-inner form a {
    background: none;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 0.2s;
    font-size: 26px;

    position: fixed;
    right: 0;
    top: 0;
}
.fas {
    background: none;
}
.popup-inner form a:hover {
    transition: 0.2s;
    cursor: pointer;
    color: rgb(71,153,233);
}
.btn[disabled=disabled], .btn:disabled {
    background: rgb(187, 187, 187);
    color: white;
}
.errors {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -125%);

    background: none;
}
.errors p {
    border-radius: 10px;
    color: rgb(233, 71, 71);
    padding: 5px 10px;
}